@import '~scss/variables';

:host {
  width: 100%;
  display: flex;
  padding: 20px;
}

app-quote-tag {
  display: block;
  margin-bottom: 20px;
}

.edit-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  margin: auto;

  border: $border__size solid #fff;
  border-radius: $border__radius;
}

.label-text {
  font-weight: bold;
  color: $color__white;
  font-size: 16px;
}
