@import "~scss/mixins";
@import "~scss/variables";

$btn-size: 36px;

:host {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color__white;
}

.quote-actions {
  position: absolute;
  display: flex;
  outline: none;
  right: 80px;
  top: 120px;
}

.get-quote-btn {
  position: relative;
  margin: 5px;
  top: 0;
  width: $btn-size;
  height: $btn-size;
  background: url('../../../../assets/static/refresh.svg') no-repeat center center;

  @include md_s {
    right: 10px;
    top: 20px;
  }
}

.share-quote-btn {
  position: relative;
  margin: 5px;
  top: 0;
  width: $btn-size;
  height: $btn-size;
  background: url('../../../../assets/static/share.svg') no-repeat center center;

  @include md_s {
    right: 10px;
    top: 20px;
  }
}
