<ng-container *ngIf="(quote$ | async) as quote; else loader">
  <ng-container *ngIf="!(isLoading$ | async); else loader">
    <app-quote [quote]="quote"></app-quote>

    <div class="quote-actions">
      <button
        class="get-quote-btn"
        title="Get another Quote"
        [@isClicked]="(isRefreshBtnClicked$ | async) ? 'isClicked' : ''"
        (click)="getRandomQuote()"
      ></button>

      <button
        class="share-quote-btn"
        title="Share"
        (click)="openShareModal(quote)"
      ></button>
    </div>
  </ng-container>
</ng-container>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>


