// typography
$font: Calibri;
$font__size: 16px; // 14px;
$font__fallback: sans-serif;
$font__primary: 'SourceSansPro', $font__fallback;
$font__icons: 'icons';

// colors
$color__black: #000000;
$color__white: #ffffff;
$color__blue: #8ccddd;
$color__blue_light_dark: #7CB6C4;
$color__blue_dark: #64929E;

// breakpoints
$breakpoint__sm: 320px;
$breakpoint__sm_l: 480px; // 500px
$breakpoint__md_s: 620px;
$breakpoint__md: 768px;
$breakpoint__md_l: 1080px; // 920px
$breakpoint__lg: 1280px;
