// typography
$font: Calibri;
$font__size: 16px; // 14px;
$font__fallback: sans-serif;
$font__primary: 'SourceSansPro', $font__fallback;
$font__icons: 'icons';

// colors
$color__black: #000000;
$color__white: #ffffff;
$color__blue: #8acbd6;
$color__purple: #8aa1d6;
$color__purple_dark: #8a90d6;
$color__green: #14cbc3;

// breakpoints
$breakpoint__sm: 320px;
$breakpoint__sm_l: 480px; // 500px
$breakpoint__md_s: 620px;
$breakpoint__md: 768px;
$breakpoint__md_l: 1080px; // 920px
$breakpoint__lg: 1280px;
